doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="keywords", content="すたちゅー,スタチュー,てゆうかもう寝よう,ツイッター,Twitter,スタンプ,すたンプ")
    meta(name="description", content="不思議な生物すたちゅーのツイッター用すたンプです。")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title="てゆうかもう寝よう。"
    link(rel="canonical", href="http://mouneyou.rgx6.com/")
    link(rel="icon", href="/images/favicon.png", type="image/png")
    link(rel="stylesheet", href="/stylesheets/style.css?d=20160307")
    script(src="/javascripts/client.js?d=20160302", defer)
    script.
      var _id         = "#{id}";
      var _stampOrder = !{JSON.stringify(stampOrder)};
      var _stampList  = !{JSON.stringify(stampList)};
      var _animeList  = !{JSON.stringify(animeList)};
  body
    div.title
      a#title てゆうかもう寝よう。
    div#items.items
      div#selected.selected
        div#taInfo.taInfo
          p すたとばしTA
          p#taCount
          p#taTime
          p#taCps
          p#taAvgCps
          p#taMaxCps
          p#taReset.taReset リセット
        div#onlineInfo.onlineInfo
          p すたとばし おんらいん
          p みんなのすたちゅー
          p#onlineClickCount
          p あなたのすたちゅー
          p#onlineLocalClickCount
          p#onlineUserCount
      a#tweet.tweet.arrow(target="_blank")
        p ツイート
      a#count.count.arrow #{tweetCount}
      div#sort.mode
        label ならべかえ
        label#sortlabel.modelabel.off OFF
      div#sync.sync ならび同期
      div#online.mode
        label おんらいん
        label#onlinelabel.modelabel.off OFF
      a.sta4koma(href="http://sta4koma.rgx6.com/")
        p 4コマまんが
      a.stabook(href="http://www.pixiv.net/member_illust.php?mode=medium&illust_id=50201705")
      a.statobashi(target="_blank", href="https://github.com/rgx6/StaTobashiDesktop/releases/download/v1.0.1/StaTobashi_v1.0.1.zip")
        p すたとばし
          br
          | ですくとっぷ
          br
          | for Win
      div#reply.reply
        p りぷらい用
          br
          | てきすと
        textarea#replytext(readonly)
    div.clearboth
    div#animation-canvas-wrapper
      canvas#animation-canvas
    div#updated.updated ならび順を保存しました
    div#scrollToTop.scrollToTop ↑
    div.footer
      p &copy;2014
        |  作:
        a(href="https://twitter.com/rgx_6") @rgx_6
        | , 絵:
        a(href="https://twitter.com/dangoinette") @dangoinette
    div#launchCounter.launchCounter
